* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color:rgb(1, 1, 27)
}

body{
  background-color: rgb(1, 1, 27);
  color: white;
  line-height: 1.5;
}

.enfoque-container {
  background-image: url("/imagenes/Datos_clave.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 750px;
  overflow: hidden;
}

.image-enfoque{
  width: 300px;
  height: 200px;
  display: block;
  object-fit: cover;
}

.texto{
  width: 60%;
  height: 60%;
  margin-left: 5em;
}

.texto h2{
  text-align: justify;
  font-size: 1.3em;
  text-decoration: underline;
}

.texto h2:hover{
  transform: translateY(-5px);
  color: red;
}

.texto p{
  text-align: justify;
  font-size: 1.05em;
  word-break: break-word;
}

.link a{
  text-decoration: none;
  color: white;
  margin-left: 5em;
}

.link a:hover{
  color: silver;
}

footer{
  background-color: rgb(1, 1, 27);
  font-size: 12px;
}

.footer-copyright{
    text-align: center; /* Centra el texto de copyright */
    padding: 10px 10px; /* Espacio arriba del copyright */
    margin: 0;
  }

@media (max-width:600px){
  .image-enfoque{
    width: 100%;
  }

  .texto{
    font-size: 0.8em;
  }

  .footer-copyright{
    text-align: center; /* Centra el texto de copyright */
    padding: 10px 10px; /* Espacio arriba del copyright */
    margin: 0;
  }
}

@media (max-width:400px){
  .image-enfoque{
    width: 100%;
  }

  .texto{
    font-size: 0.8em;
  }

  .footer-copyright{
    text-align: center; /* Centra el texto de copyright */
    padding: 10px 10px; /* Espacio arriba del copyright */
    margin: 0;
  }
}

